

main {
margin-bottom: 110px;
.summury{
    margin-top: -15px;
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
}

//----------------------------------------------------------

.main-links{
    display: flex;
    justify-content: space-around;
    p{ 
        font-size: 1.2rem;
    }
  ul {
    list-style-type: none;
    li{
        padding: 5px;
        a{
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: #0d6efd;
            img{
                opacity: 0.6;
            }
            img:hover {
                opacity: 1;
            }
        }
    }
  }
}
}

.resume-info{
    margin-top: 50px;
    .line-between{
        width: 50vw;
    }
    .work{
display: flex;
justify-content: space-around;
h2{
    font-size: 2rem;
    font-weight: 300;
}
    }
    .skills{
        display: flex;
        justify-content: space-evenly;
        
    }
    .education{
        display: flex;
        justify-content: space-evenly;
        
    }
    & h1{
        font-size: 3.3rem;
        font-weight: 300;
    }
    & p {
        font-size: 1.2rem;
    }

}




