

main {
margin-bottom: 110px;
.summury{
    margin-top: -15px;
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
}

//----------------------------------------------------------

.main-links{
    display: flex;
    justify-content: space-around;
    p{ 
        font-size: 1.2rem;
    }
  ul {
    list-style-type: none;
    li{
        padding: 5px;
        a{
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: #0d6efd;
            img{
                opacity: 0.6;
            }
            img:hover {
                opacity: 1;
            }
        }
    }
  }
}
}

.resume-info{
    margin-top: 50px;
    .line-between{
        width: 50vw;
    }
    .year-info{
        display: flex;
        justify-content: space-evenly;
         align-items: center;
         .sk-info {
                width: 500px;
              }
              .ed-info {
                width: 550px;
              }
             }
    & h1{
        font-size: 3.3rem;
        font-weight: 300;
      }
    & p {
        font-size: 1.2rem;
    }

}


@media (max-width: 844px) and (min-width: 320px) {
    main {
        margin-bottom: 110px;   
          .summury{
            font-size: 2.5rem;
          }
        //----------------------------------------------------------
        
        .main-links{
         display: flex;
         flex-direction: column;

            p{ 
                text-align: center;
                font-size: 1rem;
            }
          ul {
            width: 218px;
            list-style-type: none;

            li{
                a{
                    font-size: 4vw;
                }
            }
          }
        }
        }



        .resume-info{
            margin-top: 50px;
            .line-between{
                width: 50vw;
            }
            .year-info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                 .ed-info {
                    width: auto;
                 }
                 .sk-info{
                    width: auto;
                 }
            }
           
            & span{
text-align: center;
width: 90vw;
            }
            & h1{
                font-size: 2.5rem;
                font-weight: 300;
            }
            & p {
                font-size: 1.1rem;
            }
        
        }

}




